*{
    box-sizing: border-box;
    background-color: rgb(31, 35, 31);
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.header{
    text-align: center;

}
.container {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(144, 146, 148);
}
.scoreboard{
    color: rgb(144, 146, 148);
    text-align: center;
    margin: 24px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid 1px white;
    border-radius: .6rem;
}
.scoreContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}
.buttons{
}
.btnSquare{ 
    margin: 5px;
    border-radius: .6rem;
    background-color: rgba(240, 248, 255, 0.474);
    padding-right: 10px;
    padding-left: 10px;
}
#restartGame { 
    margin: 10px;
    margin-right: 40px;
    border-radius: .6rem;
    background-color: aliceblue;
    padding-right: 10px;
    padding-left: 10px;
}
